<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </head>
  <body class="flex-col">
    <div class="flex">
      <nav class="w-1/8"><%- include("./nav.ejs") %></nav>
      <div class="flex-1 justify-center items-center flex bg-[url('/picture/adminHome.png')] bg-cover">
        <form id="change" class="space-y-5 bg-sky-800 rounded-3xl w-1/4 p-10">
          <div>
            <label class="block text-white font-medium mb-1"> <i class="fa-solid fa-lock text-yellow-400 mr-1"></i> Mật khẩu </label>
            <input
              type="password"
              id="password"
              class="w-full border border-gray-300 rounded-xl px-4 py-2.5 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            />
          </div>
          <div>
            <label class="block text-white font-medium mb-1"> <i class="fa-solid fa-lock text-yellow-400 mr-1"></i> Mật khẩu mới </label>
            <input
              type="password"
              id="newPassword"
              class="w-full border border-gray-300 rounded-xl px-4 py-2.5 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            />
          </div>
          <div>
            <label class="block text-white font-medium mb-1"> <i class="fa-solid fa-lock text-yellow-400 mr-1"></i> Nhập lại mật khẩu </label>
            <input
              type="password"
              id="reEnterPassword"
              class="w-full border border-gray-300 rounded-xl px-4 py-2.5 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            />
          </div>
          <p id="success" class="text-center font-medium" style="color: green"></p>
          <p id="errorMessage" class="text-center font-medium" style="color: red"></p>
          <button type="submit" class="w-full text-xl bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-xl shadow-lg transition-all transform hover:scale-[1.02]">Thay đổi</button>
        </form>
      </div>
    </div>
    <footer><%- include("./footer.ejs") %></footer>
  </body>
  <script>
    document.getElementById('change').addEventListener('submit', async (e) => {
      e.preventDefault();
      const id = '<%= employee.id %>';
      const password = document.getElementById('password').value.trim();
      const newPassword = document.getElementById('newPassword').value.trim();
      const reEnterPassword = document.getElementById('reEnterPassword').value.trim();
      if (!password || !newPassword || !reEnterPassword) {
        document.getElementById('errorMessage').innerText = 'Vui lòng nhập đầy đủ mật khẩu';
        return;
      } else if (newPassword !== reEnterPassword) {
        document.getElementById('errorMessage').innerText = 'Mật khẩu nhập lại không khớp';
        return;
      } else if (newPassword.length < 6) {
        document.getElementById('errorMessage').innerText = 'Mật khẩu mới ít nhất phải 6 kí tự';
        return;
      }
      try {
        const res = await fetch(`/admin/${id}/change-password`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          credentials: 'same-origin',
          body: JSON.stringify({ password, newPassword }),
        });
        let result = await res.json();
        if (res.ok) {
          document.getElementById('success').innerText = 'Đổi mật khẩu thành công';
          document.getElementById('password').value = '';
          document.getElementById('newPassword').value = '';
          document.getElementById('reEnterPassword').value = '';
          document.getElementById('errorMessage').innerText = '';
        } else {
          document.getElementById('errorMessage').innerText = result.error;
        }
      } catch (error) {
        console.log(error);
        document.getElementById('errorMessage').innerText = 'Không thể kết nối tới server';
      }
    });
  </script>
</html>
