<footer class="flex-column text-center bg-blue-700 py-10 text-white">
  <div class="mb-3">Copyright &copy; Make and Designed by Mr. Nguyen Dac The Duc - 2004 Electric Power University</div>
  <div class="mb-3">Address: 235 Hoang Quoc Viet - Cau Giay - Ha Noi</div>
  <div>Phone: 0812345632, Administration Management: 123456789</div>
</footer>
